
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<form action="/Student/Store" method="get">
    <div>
        Username: <input type="text" name="Name"/>
    </div>
    <div>
        RollNumber: <input type="text" name="RollNumber"/>
    </div>
    <div>
        <input type="submit" value="Submit"></input>
        <input type="reset" value="Reset"></input>
    </div>
   
</form>

