
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<form action="/Student/Store" method="post">
    <div>
        Username: <input type="text" name="username"/>
    </div>
    <div>
        RollNumber: <input type="text" name="rollNumber"/>
    </div>
    <div>
        <input type="submit" value="Submit"></input>
        <input type="reset" value="Reset"></input>
    </div>
   
</form>

